.urlcer1lp {
  background-image: url("/certificate/chula_certificate_learn_python.jpg");
}
.urlcer2lp {
  background-image: url("/certificate/chula_certificate_python_numpy&matplotlib.jpg");
}
.urlcer3lp {
  background-image: url("/certificate/markpruet_centificate_python.png");
}
.urlcer1lh {
  background-image: url("/certificate/borntodev-acdemy_HTML&CSS.png");
}
.urlcer2lh {
  background-image: url("/certificate/futureskill_centificate_html_css_javascript.png");
}
.urlcer1e {
  background-image: url("/certificate/chula_centificate_EnglishLanguages.jpg");
}
.urlcer1t {
  background-image: url("/certificate/borntodev-acdemy_GitHub\ for\ Developer\ _certifiacte.png");
}
.urlcer2t {
  background-image: url("certificate/borntodev_ChatGPT\ for\ Developers_certifiacte.png");
}
.urlcer3t {
  background-image: url("/certificate/futureskill_centificate_ChatGPT_1.png");
}
.urlcer4t {
  background-image: url("/certificate/futureskill_centificate__ChatGPT_2.png");
}
.urlcer5t {
  background-image: url("/certificate/futureskill_centificate__React_1.png");
}
.urlcer6t {
  background-image: url("/certificate/futureskill_centificate__React_2.png");
}

.urlcer1 {
  background-image: url("/certificate/borntodev-certificate.png");
}
