.url4-1 {
  background-image: url("/imgforproject/4-1.png");
}
.url4-2 {
  background-image: url("/imgforproject/4-2.png");
}
.url4-3 {
  background-image: url("/imgforproject/4-3.png");
}
.url4-4 {
  background-image: url("/imgforproject/4-4.png");
}
.url4-6 {
  background-image: url("/imgforproject/4-6.png");
}
.url4-7 {
  background-image: url("/imgforproject/4-7.png");
}
.url4-9 {
  background-image: url("/imgforproject/4-9.png");
}
.url4-10 {
  background-image: url("/imgforproject/4-10.png");
}
.url4-11 {
  background-image: url("/imgforproject/4-11.png");
}
.url4-12 {
  background-image: url("/imgforproject/4-12.png");
}
.url4-13 {
  background-image: url("/imgforproject/4-13.png");
}
.url4-14 {
  background-image: url("/imgforproject/4-14.png");
}
.url4-15 {
  background-image: url("/imgforproject/4-15.png");
}
.url4-16 {
  background-image: url("/imgforproject/4-16.png");
}
.url4-17 {
  background-image: url("/imgforproject/4-17.png");
}
.url4-18 {
  background-image: url("/imgforproject/4-18.png");
}
.url4-19 {
  background-image: url("/imgforproject/4-19.png");
}
.url4-20 {
  background-image: url("/imgforproject/4-20.png");
}
.url4-21 {
  background-image: url("/imgforproject/4-21.png");
}
.url4-22 {
  background-image: url("/imgforproject/4-22.png");
}
.url4-23 {
  background-image: url("/imgforproject/4-23.png");
}
.url4-23 {
  background-image: url("/imgforproject/4-23.png");
}

.url2-1 {
  background-image: url("/imgforproject/2-1.png");
}
.url2-2 {
  background-image: url("/imgforproject/2-2.png");
}
.url2-3 {
  background-image: url("/imgforproject/2-3.png");
}
.url2-4 {
  background-image: url("/imgforproject/2-4.png");
}
.url2-5 {
  background-image: url("/imgforproject/2-5.png");
}
.url2-6 {
  background-image: url("/imgforproject/2-6.png");
}
.url2-7 {
  background-image: url("/imgforproject/2-7.png");
}
.url2-8 {
  background-image: url("/imgforproject/2-8.png");
}
.url2-9 {
  background-image: url("/imgforproject/2-9.png");
}
.url2-10 {
  background-image: url("/imgforproject/2-10.png");
}
.url2-11 {
  background-image: url("/imgforproject/2-11.png");
}
.url2-12 {
  background-image: url("/imgforproject/2-12.png");
}
.url2-13 {
  background-image: url("/imgforproject/2-13.png");
}
.url2-14 {
  background-image: url("/imgforproject/2-14.png");
}
.url2-15 {
  background-image: url("/imgforproject/2-15.png");
}
.url2-16 {
  background-image: url("/imgforproject/2-16.png");
}
.url2-17 {
  background-image: url("/imgforproject/2-17.png");
}
.url2-18 {
  background-image: url("/imgforproject/2-18.png");
}
.url2-19 {
  background-image: url("/imgforproject/2-19.png");
}
.url2-20 {
  background-image: url("/imgforproject/2-20.png");
}
.url2-21 {
  background-image: url("/imgforproject/2-21.png");
}

.url8-1 {
  background-image: url("/imgforproject/8-1.png");
}
.url8-2 {
  background-image: url("/imgforproject/8-2.png");
}
.url8-3 {
  background-image: url("/imgforproject/8-3.png");
}
.url8-4 {
  background-image: url("/imgforproject/8-4.png");
}
.url8-5 {
  background-image: url("/imgforproject/8-5.png");
}
.url8-6 {
  background-image: url("/imgforproject/8-6.png");
}
.url8-7 {
  background-image: url("/imgforproject/8-7.png");
}
.url8-8 {
  background-image: url("/imgforproject/8-8.png");
}
.url8-9 {
  background-image: url("/imgforproject/8-9.png");
}
.url8-11 {
  background-image: url("/imgforproject/8-11.png");
}
.url8-12 {
  background-image: url("/imgforproject/8-12.png");
}
.url8-13 {
  background-image: url("/imgforproject/8-13.png");
}
.url8-14 {
  background-image: url("/imgforproject/8-14.png");
}
.url3-1 {
  background-image: url("/imgforproject/3-1.png");
}
.url3-2 {
  background-image: url("/imgforproject/3-2.png");
}
.url3-3 {
  background-image: url("/imgforproject/3-3.png");
}
.url3-4 {
  background-image: url("/imgforproject/3-4.png");
}
.url3-5 {
  background-image: url("/imgforproject/3-5.png");
}
.url3-6 {
  background-image: url("/imgforproject/3-6.png");
}
.url3-7 {
  background-image: url("/imgforproject/3-7.png");
}
.url3-8 {
  background-image: url("/imgforproject/3-8.png");
}
.url3-9 {
  background-image: url("/imgforproject/3-9.png");
}
.url3-10 {
  background-image: url("/imgforproject/3-10.png");
}
.url3-11 {
  background-image: url("/imgforproject/3-11.png");
}
.url3-12 {
  background-image: url("/imgforproject/3-12.png");
}
.url3-13 {
  background-image: url("/imgforproject/3-13.png");
}
.url3-14 {
  background-image: url("/imgforproject/3-14.png");
}
.url3-15 {
  background-image: url("/imgforproject/3-15.png");
}
.url3-16 {
  background-image: url("/imgforproject/3-16.png");
}
.url3-17 {
  background-image: url("/imgforproject/3-17.png");
}
.url3-18 {
  background-image: url("/imgforproject/3-18.png");
}
.url1-1 {
  background-image: url("/imgforproject/1-1.png");
}
.url1-2 {
  background-image: url("/imgforproject/1-2.png");
}
.url1-3 {
  background-image: url("/imgforproject/1-3.png");
}
.url1-4 {
  background-image: url("/imgforproject/1-4.png");
}
.url1-5 {
  background-image: url("/imgforproject/1-5.png");
}
.url1-6 {
  background-image: url("/imgforproject/1-6.png");
}
.url1-7 {
  background-image: url("/imgforproject/1-7.png");
}
.url1-8 {
  background-image: url("/imgforproject/1-8.png");
}
.url1-9 {
  background-image: url("/imgforproject/1-9.png");
}
.url1-10 {
  background-image: url("/imgforproject/1-10.png");
}
.url1-11 {
  background-image: url("/imgforproject/1-11.png");
}
.url1-12 {
  background-image: url("/imgforproject/1-12.png");
}
.url1-13 {
  background-image: url("/imgforproject/1-13.png");
}
.url1-14 {
  background-image: url("/imgforproject/1-14.png");
}
.url1-15 {
  background-image: url("/imgforproject/1-15.png");
}
.url1-16 {
  background-image: url("/imgforproject/1-16.png");
}
.url1-17 {
  background-image: url("/imgforproject/1-17.png");
}
.url1-18 {
  background-image: url("/imgforproject/1-18.png");
}
.url1-19 {
  background-image: url("/imgforproject/1-19.png");
}
.url1-20 {
  background-image: url("/imgforproject/1-20.png");
}
.url1-21 {
  background-image: url("/imgforproject/1-21.png");
}
.url1-22 {
  background-image: url("/imgforproject/1-22.png");
}
.url1-23 {
  background-image: url("/imgforproject/1-23.png");
}
.url1-24 {
  background-image: url("/imgforproject/1-24.png");
}
.url1-25 {
  background-image: url("/imgforproject/1-25.png");
}
.urlma-1 {
  background-image: url("/imgforproject/11-1.png");
}
.urlma-2 {
  background-image: url("/imgforproject/11-2.png");
}
.urlma-3 {
  background-image: url("/imgforproject/11-3.png");
}
.urlma-4 {
  background-image: url("/imgforproject/11-4.png");
}
.urlma-5 {
  background-image: url("/imgforproject/11-5.png");
}
.urlma-6 {
  background-image: url("/imgforproject/11-6.png");
}
.urlma-7 {
  background-image: url("/imgforproject/11-7.png");
}
.urlma-8 {
  background-image: url("/imgforproject/11-8.png");
}
.urlma-9 {
  background-image: url("/imgforproject/11-9.png");
}
.urlma-10 {
  background-image: url("/imgforproject/11-10.png");
}
.urlma-11 {
  background-image: url("/imgforproject/11-11.png");
}
.urlma-12 {
  background-image: url("/imgforproject/11-12.png");
}
.urlma-13 {
  background-image: url("/imgforproject/11-13.png");
}
.urlma-14 {
  background-image: url("/imgforproject/11-14.png");
}
.urlma-15 {
  background-image: url("/imgforproject/11-15.png");
}
.urlma-16 {
  background-image: url("/imgforproject/11-16.png");
}
.urlma-17 {
  background-image: url("/imgforproject/11-17.png");
}
.urlma-18 {
  background-image: url("/imgforproject/11-18.png");
}
.urlma-19 {
  background-image: url("/imgforproject/11-19.png");
}
.urlma-20 {
  background-image: url("/imgforproject/11-20.png");
}

.url50902 {
  background-image: url("/imgbyme/50902.jpg");
}
.url50903 {
  background-image: url("/imgbyme/50903.jpg");
}
.url50904 {
  background-image: url("/imgbyme/50904.jpg");
}
.url50905 {
  background-image: url("/imgbyme/50905.jpg");
}
.url50906 {
  background-image: url("/imgbyme/50906.jpg");
}
.url50907 {
  background-image: url("/imgbyme/50907.jpg");
}
.url50908 {
  background-image: url("/imgbyme/50908.jpg");
}
.url50909 {
  background-image: url("/imgbyme/50909.jpg");
}
.url50910 {
  background-image: url("/imgbyme/50910.jpg");
}
.url50911 {
  background-image: url("/imgbyme/50911.jpg");
}
.url50912 {
  background-image: url("/imgbyme/50912.jpg");
}
.url50913 {
  background-image: url("/imgbyme/50913.jpg");
}
.url50914 {
  background-image: url("/imgbyme/50914.jpg");
}
.url50915 {
  background-image: url("/imgbyme/50915.jpg");
}
.url50916 {
  background-image: url("/imgbyme/50916.jpg");
}

.url7-1 {
  background-image: url("/imgforproject/7-1.png");
}
.url7-2 {
  background-image: url("/imgforproject/7-2.png");
}
.url7-4 {
  background-image: url("/imgforproject/7-4.png");
}
.url7-5 {
  background-image: url("/imgforproject/7-5.png");
}
.url7-6 {
  background-image: url("/imgforproject/7-6.png");
}
.url7-7 {
  background-image: url("/imgforproject/7-7.png");
}
.url7-8 {
  background-image: url("/imgforproject/7-8.png");
}

.url5-1 {
  background-image: url("/imgforproject/5-1.png");
}
.url5-2 {
  background-image: url("/imgforproject/5-2.png");
}
.url5-3 {
  background-image: url("/imgforproject/5-3.png");
}
.url5-4 {
  background-image: url("/imgforproject/5-4.png");
}
.url5-5 {
  background-image: url("/imgforproject/5-5.png");
}
.url5-6 {
  background-image: url("/imgforproject/5-6.png");
}

.url10-1 {
  background-image: url("/imgforproject/10-1.png");
}
.url10-2 {
  background-image: url("/imgforproject/10-2.png");
}
.url10-3 {
  background-image: url("/imgforproject/10-3.png");
}
.url10-4 {
  background-image: url("/imgforproject/10-4.png");
}
.url10-5 {
  background-image: url("/imgforproject/10-5.png");
}
.url10-6 {
  background-image: url("/imgforproject/10-6.png");
}
.url10-7 {
  background-image: url("/imgforproject/10-7.png");
}
.url10-8 {
  background-image: url("/imgforproject/10-8.png");
}
.url10-9 {
  background-image: url("/imgforproject/10-9.png");
}
.url10-10 {
  background-image: url("/imgforproject/10-10.png");
}
.url10-11 {
  background-image: url("/imgforproject/10-11.png");
}
